<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<figure class="bg-slate-100 rounded-xl p-8 dark:bg-slate-800">
  <img class="w-24 h-24 rounded-full mx-auto" src="toni.jpeg" alt="" width="384" height="512">
  <div class="pt-6 text-center space-y-4">
    <figcaption class="font-medium">
      <div class="text-sky-500 dark:text-sky-400">
        Antonio Rodriguez
      </div>
      <div class="text-slate-700 dark:text-slate-500">
        Adam Mickiewicz University, Poland
      </div>
    </figcaption>
  </div>
</figure>
</body>
</html>

<html>
<head>
 <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
 <link href="styles_for_navbar.css" rel="stylesheet" type="text/css">
 <meta charset="UTF-8">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo"></h1>

      <nav>
        <ul>
          <li><a href="admin.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="devices.html">Devices</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Our corrupted site
  </title>
</head>

<div>

  <!-- Section: Design Block -->
  <section class="mb-40">

    <nav class="navbar navbar-expand-lg shadow-md py-2 bg-white relative flex items-center w-full justify-between">
      <div class="px-6 w-full flex flex-wrap items-center justify-between">
        <div class="flex items-center">
          <a class="navbar-brand text-blue-600" href="#!">
            <svg class="w-5 h-5 ml-2 lg:ml-0 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path fill="currentColor" d="M485.5 0L576 160H474.9L405.7 0h79.8zm-128 0l69.2 160H149.3L218.5 0h139zm-267 0h79.8l-69.2 160H0L90.5 0zM0 192h100.7l123 251.7c1.5 3.1-2.7 5.9-5 3.3L0 192zm148.2 0h279.6l-137 318.2c-1 2.4-4.5 2.4-5.5 0L148.2 192zm204.1 251.7l123-251.7H576L357.3 446.9c-2.3 2.7-6.5-.1-5-3.2z"></path>
            </svg>
          </a>
        </div>
      </div>
    </nav>

    <div class="relative overflow-hidden bg-no-repeat bg-cover" style="background-position: 50%; background-image: url('https://mdbootstrap.com/img/new/textures/full/142.jpg'); height: 500px;"></div>

    <div class="container mx-auto px-6 md:px-12 xl:px-32">
      <div class="text-center text-gray-800">
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->

</div>



            <!-- ====== Chat Card Start -->
           
        </div>



        
      </main>
      <!-- ===== Main Content End ===== -->
    </div>
    <!-- ===== Content Area End ===== -->
  </div>
  <!-- ===== Page Wrapper End ===== -->
</body>

</html>