{% extends "base.html" %}

{% block content %}
  <script src="{{ url_for('static', filename='camera.js') }}"></script>
</head>
<body style="background-color:ghostwhite;">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
    <link href="styles_for_navbar.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
   </head>
   <body>
     <header>
       <div class="container">
         <h1 class="logo"></h1>
   
         <nav>
           <ul>
             <li><a href="admin.html">Home</a></li>
             <li><a href="about.html">About</a></li>
             <li><a href="devices.html">Devices</a></li>
             <li><a href="contact.html">Contact</a></li>
           </ul>
         </nav>
       </div>
     </header>
   </body>
  
  <main>
    <canvas id="facecanvas"></canvas>
  
	<!-- Video that handles the browser access to the camera. The transforms mirror the feed -->
	<video autoplay muted hidden playsinline id="video"  style="
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		width: auto;
		height: auto;">
	</video>
  </main>
  {% endblock %}


