<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-0cw64x8vihMvqxNmETj9pij/+XYlyK+0Oj7PMq1jbjQ='">

  <title>Camera</title>
  <style>
    /* Dodaj swoje style CSS tutaj */
  </style>
  <script src="camera.js"></script>
</head>
<body style="background-color:ghostwhite;">
  <header>
    <h1>Camera</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <canvas id="facecanvas"></canvas>
  
	<!-- Video that handles the browser access to the camera. The transforms mirror the feed -->
	<video autoplay muted hidden playsinline id="video"  style="
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		width: auto;
		height: auto;">
	</video>
  </main>
  
  <footer>
    <p>&copy; 2023 My Web Page. All rights reserved.</p>
  </footer>
</body>
</html>

