<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<figure class="bg-slate-100 rounded-xl p-8 dark:bg-slate-800">
  <img class="w-24 h-24 rounded-full mx-auto" src="toni.jpeg" alt="" width="384" height="512">
  <div class="pt-6 text-center space-y-4">
    <figcaption class="font-medium">
      <div class="text-sky-500 dark:text-sky-400">
        Antonio Rodriguez
      </div>
      <div class="text-slate-700 dark:text-slate-500">
        Adam Mickiewicz University, Poland
      </div>
    </figcaption>
  </div>
</figure>
</body>
</html>

<html>
<head>
 <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
 <link href="styles_for_navbar.css" rel="stylesheet" type="text/css">
 <meta charset="UTF-8">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo"></h1>

      <nav>
        <ul>
          <li><a href="admin.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="devices.html">Devices</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Our corrupted site
  </title>
</head>


</div>
            <!-- ====== Chat Card Start -->
           <!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">

    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800">
  
      <h2 class="text-3xl font-bold mb-12 text-center">Devices</h2>
  
      <div class="grid lg:grid-cols-3 gap-6">
        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg"
          style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="light">
          <img src="https://mdbootstrap.com/img/new/standard/nature/051.jpg" class="w-full" />
          <a href="#!">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
              style="background-color: rgba(0, 0, 0, 0.4)">
              <div class="flex justify-start items-end h-full">
                <div class="text-white m-6">
                  <h5 class="font-bold text-lg mb-3"><a href="devices.html">Samsung Galaxy S12</a></h5>
                </div>
              </div>
            </div>
          </a>
        </div>
  
        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
          data-mdb-ripple-color="light">
          <img src="https://mdbootstrap.com/img/new/standard/nature/044.jpg" class="w-full" />
          <a href="#!">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
              style="background-color: rgba(0, 0, 0, 0.4)">
              <div class="flex justify-start items-end h-full">
                <div class="text-white m-6">
                  <h5 class="font-bold text-lg mb-3"><a href="devices.html">OnePlus 8 Pro</a></h5>
                </div>
              </div>
            </div>
          </a>
        </div>
  
        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
          data-mdb-ripple-color="light">
          <img src="https://mdbootstrap.com/img/new/standard/nature/045.jpg" class="w-full" />
          <a href="#!">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
              style="background-color: rgba(0, 0, 0, 0.4)">
              <div class="flex justify-start items-end h-full">
                <div class="text-white m-6">
                  <h5 class="font-bold text-lg mb-3"><a href="devices.html">Samsung Galaxy S20 5G</a></h5>
                </div>
              </div>
            </div>
          </a>
        </div>
  
        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
          data-mdb-ripple-color="light">
          <img src="https://mdbootstrap.com/img/new/standard/nature/047.jpg" class="w-full" />
          <a href="#!">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
              style="background-color: rgba(0, 0, 0, 0.4)">
              <div class="flex justify-start items-end h-full">
                <div class="text-white m-6">
                  <h5 class="font-bold text-lg mb-3"><a href="devices.html">Google Pixel 5</a></h5>
                </div>
              </div>
            </div>
          </a>
        </div>
  
        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
          data-mdb-ripple-color="light">
          <img src="https://mdbootstrap.com/img/new/standard/nature/028.jpg" class="w-full" />
          <a href="#!">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
              style="background-color: rgba(0, 0, 0, 0.4)">
              <div class="flex justify-start items-end h-full">
                <div class="text-white m-6">
                  <h5 class="font-bold text-lg mb-3"><a href="devices.html">Samsung Galaxy Note 20 Ultra 5G</a></h5>
                </div>
              </div>
            </div>
          </a>
        </div>
  
        <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" data-mdb-ripple="true"
          data-mdb-ripple-color="light">
          <img src="https://mdbootstrap.com/img/new/standard/nature/049.jpg" class="w-full" />
          <a href="#!">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
              style="background-color: rgba(0, 0, 0, 0.4)">
              <div class="flex justify-start items-end h-full">
                <div class="text-white m-6">
                  <h5 class="font-bold text-lg mb-3"><a href="devices.html">Samsung A20E</a></h5>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
  
    </section>
    <!-- Section: Design Block -->
  
  </div>
  <!-- Container for demo purpose -->
        </div>
      </main>
      <!-- ===== Main Content End ===== -->
    </div>
    <!-- ===== Content Area End ===== -->
  </div>
  <!-- ===== Page Wrapper End ===== -->
</body>

</html>