<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-0cw64x8vihMvqxNmETj9pij/+GYlyK+0Oj7PMq1jbjQ='">
</head>

<script src="sha256-0cw64x8vihMvqxNmETj9pij/+GYlyK+0Oj7PMq1jbjQ=">
  var x = document.getElementById("demo");
  
  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
  }
  
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }
  
  
  document.addEventListener("DOMContentLoaded", getLocation);
  </script>
  
<body>


<p id="demo"></p>

</body>
</html>

